<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sily</title>
    <link rel="shortcut icon" href="../static/img/logo1.ico">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/common/AdminLTE.min.css">
    <link rel="stylesheet" href="../static/css/login.css">

</head>

<body>
<div class="wrapper" id="wrapper"><br/>
    <div class="container">
        <!--logo-->
        <div class="login-icon">
            <img src="../static/img/logo2.png" width="380px" title="欢迎来到Sily"/>
            <h4 style="color: wheat">
                欢迎来到
                <small>&nbsp;&nbsp;&nbsp;Sily</small>
            </h4>
        </div>
        <div class="login ">
            <!--<form class="login-screen" method="post" action="auth">-->
                <div class="has-feedback">
                    <label class="login-field-icon fui-user" for="username"></label>
                    <input type="text" class="form-control login-field" name="username" id="username"
                           placeholder="输入账号" autofocus="autofocus" required/>
                    <i class="fa fa-user form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                    <label class="login-field-icon fui-lock" for="password"></label>
                    <input type="password" class="form-control login-field" id="password"
                           name="password" placeholder="输入密码" required/>
                    <i class="fa fa-lock form-control-feedback"></i>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-block btn-flat" id="btn-login">登录</button>
                    <a href="html/register.html" title="前往注册页面" style="margin: 4px">
                        <button class="btn btn-default btn-block btn-flat" id="btn-register" type="submit">注册</button>
                    </a>
                </div>
                <a class="login-link" href="#">忘记密码?</a>
                <!--<div class="has-error center"><label class="control-label">{{msg}}</label></div>-->
            <!--</form>-->
        </div>
    </div>
</div>
<!--<footer class="footer" data-ng-include=" 'src/tpl/footer.html' "></footer>-->


<script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="../static/js/login.js"></script>
</body>
</html>