<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sily注册界面</title>
    <link rel="shortcut icon" href="../static/img/logo1.ico">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/font/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/common/AdminLTE.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../static/js/register.js"></script>
</head>

<body>
<div class="wrapper"><br/>
    <div class="container">
        <!--logo-->
        <div class="login-icon">
            <img src="../static/img/logo2.png" width="380px" title="欢迎来到Sily"/>
            <h4 style="color: wheat">
                欢迎来到
                <small>&nbsp;&nbsp;&nbsp;Sily</small>
            </h4>
        </div>
        <div class="register ">

                <label class="login-field-icon fui-user" for="account"></label>
                <input type="text" class="form-control login-field" name="account" id="account"
                       placeholder="注册账号" autofocus="autofocus" required/>

                <label class="login-field-icon fui-lock" for="password"></label>
                <input type="password" class="form-control login-field" id="password"
                       name="password" placeholder="输入密码" required/>

            <div class="form-group">
                <label class="login-field-icon fui-lock" for="password"></label>
                <input type="password" class="form-control login-field" id="v-password"
                       name="v-password" placeholder="再次输入密码" required/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block btn-flat" id="btn-register" type="submit">注册</button>
            </div>
            <!--<div class="has-error center"><label class="control-label">{{msg}}</label></div>-->
            <!--</form>-->
        </div>
    </div>
</div>
</div>
</div>
<!--<footer class="footer" data-ng-include=" 'src/tpl/footer.html' "></footer>-->


</body>
</html>